# Practical No.7:  Write a Pandas program to implement following operation

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

* to create a dataframe from a dictionary and display it

In [7]:
df = pd.DataFrame({'enrollment': [11,12,13], 'name': ['Alice','John','Bob']})
print("df:\n", df)

df:
    enrollment   name
0          11  Alice
1          12   John
2          13    Bob

* to sort the DataFrame first by 'name' in ascending order

In [8]:
dfSorted=df.sort_values(by=['name']) 
print(dfSorted)

   enrollment   name
0          11  Alice
2          13    Bob
1          12   John

* to delete the one specific column from the DataFrame

In [13]:
df['cpi'] = [9.24,6.40,7.30]
del df['cpi']
print(df)

   enrollment   name
0          11  Alice
1          12   John
2          13    Bob

* to write a DataFrame to CSV file using tab separator

In [20]:
df.to_csv('D:/A Diploma/Semester 5/IML/Notebooks/pr7.4.csv', sep="\t")
print("File made with separation of tab")

File made with separation of tab