# Practical No.6 Write a Pandas program to implement following operation

In [2]:
import numpy as np
import pandas as pd

* to convert a NumPy array to a Pandas series

In [5]:
array = np.array([1,2,3,4,5])
series = pd.Series(array)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

* to convert the first column of a DataFrame as a Series

In [13]:
df = pd.DataFrame({'numbers': [1, 2, 3], 'colors': ['red','green', 'blue']})
series = pd.Series(df['numbers'])
print("df:\n", df)
print()
print(series)

df:
    numbers colors
0        1    red
1        2  green
2        3   blue

0    1
1    2
2    3
Name: numbers, dtype: int64

* to create the mean and standard deviation of the data of a given Series

In [15]:
series = pd.Series([1,2,3,4,5])
mean  = series.mean()
std = series.std()
print("Series: ",series)
print("Mean from Series",mean)
print("Standard Daviation from Series is: ",std)

Series:  0    1
1    2
2    3
3    4
4    5
dtype: int64
Mean from Series 3.0
Standard Daviation from Series is:  1.5811388300841898

* to sort a given Series

In [18]:
series = pd.Series([12,44,35,53,6])
print(series.sort_values())

4     6
0    12
2    35
1    44
3    53
dtype: int64